<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FORM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  </head>
  <body>
     <h1>Fill out the form!</h1>
        <div class="container">
          <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="submit">

          </form>

        </div>
  </body>
</html>
